body{
	font-family:Arial,Helvetica,sans-serif;
}
form {
	border:3px solid #f1f1f1;
}
input[type=text],input[type=email],input[type=date]{
  	width:200%;
  	padding:10px 18px;
  	margin:8px 0;
  	display:inline-block;
  	border:1px solid #ccc;
  	box-sizing:border-box;
}
input[type=submit]{
  	color:black;
  	border:2px solid #ccc;
  	border-radius:25px;
  	padding:8px 10px;
  	margin:25px 0;
  	width: 60%;
  	font-size: 25px;
}
input[type=submit]:hover{
  	opacity:0.8;
  	border: 2px solid #ccc;
  	border-radius: 25px;
  	font-size: 25px;
  	border-style: groove;
}
input[type=text]:hover,input[type=email]:hover,input[type=date]:hover{
	border: 2px solid #ccc;
	border-style: inset;
}
.select{
  	width:200%;
  	padding:10px 18px;
  	margin:8px 0;
  	display:inline-block;
  	border:1px solid #ccc;
  	box-sizing:border-box;
}
.select:hover{
	border: 2px solid #ccc;
	border-style: inset;
}
span{
	color: red;		
}